<div class="container">
    <h1>Cesar Castillo </h1>
    <h4>Farmacia en Turno</h4>
    <hr>
    <div class="col-8">
        <form autocomplete="off">
            <div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Comuna</label>
                    <div [innerHTML]="opciones | keepHtml"></div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Local</label>
                    <div class="col-8">
                        <input #milocalseleccionada value="AHUMADA" class="form-control" type="text" placeholder="'VACUNATORIO' 'VIDA SALUD' 'DEL DR. SIMI' 'NOVA' 'LA REBAJA'">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-4">
                    <button (click)="ejecutar()" class="btn btn-primary btn-block">
             Buscar
          </button>
                </div>
                <div class="input-group col-md-4">
                    <button (click)="limpiar()" class="btn btn-light btn-block">
           Limpiar
        </button>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <br/>
    <div class="col-8">
        <h4>Resultado de Busqueda</h4>
        <hr>
        <div *ngIf="mostrarNoResultado">
            <div class="alert alert-warning" role="alert">
                No existe resultado para la comuna {{valorComuna}} y local {{valorLocal}}
            </div>
        </div>
        <div *ngIf="!mostrarNoResultado">
            <div *ngFor="let farmaciaTurno of farmaciaTurnos">
                <section class="border">
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>{{farmaciaTurno.local}}</p><br/>
                            <p>{{farmaciaTurno.direccion}}</p><br/>
                            <p>{{farmaciaTurno.telefono}}</p><br/>
                        </div>
                        <div class="col">
                            <agm-map [latitude]="farmaciaTurno.latitud | negToPos" [zoom]="zoom" [longitude]="farmaciaTurno.longitud | negToPos">
                                <agm-marker [latitude]="farmaciaTurno.latitud | negToPos" [longitude]="farmaciaTurno.longitud | negToPos"></agm-marker>
                            </agm-map>

                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>